<html>
<head>
	<title>Docker Manager</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/styles.css">

	<script src="/js/jquery-1.11.3.min.js"></script>

	<script src="/js/bootstrap.min.js"></script>
	
</head>
<body>

<nav class="navbar navbar-default navbar-static-top topbar">
  <div class="container-fluid topbar">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img style="width:15%;" alt="Brand" src="http://upload.wikimedia.org/wikipedia/commons/7/79/Docker_(container_engine)_logo.png">
      </a>
    </div>
  </div>
</nav>


<div class="row" style="width:99%;margin: auto;">
<div class="col-md-2 left-bar"> <!-- left nav -->
<ul class="list-group">
	<a href="/" class="list-group-item"><i class="fa fa-home"></i> Home</a>
	<a href="/images" class="list-group-item"><i class="fa fa-picture-o"></i> Images</a>
	<a href="/containers" class="list-group-item"><i class="fa fa-inbox"></i> Containers</a>
	<a href="/servers" class="list-group-item"><i class="fa fa-server"></i> Servers</a>
</ul>
</div>
<div class="col-md-10 main"><!-- main -->
