<html>
<head>
	<title>Docker Manager</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/css/styles.css">

	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	
</head>
<body>

<nav class="navbar navbar-default navbar-static-top topbar">
  <div class="container-fluid topbar">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img style="width:15%;" alt="Brand" src="http://upload.wikimedia.org/wikipedia/commons/7/79/Docker_(container_engine)_logo.png">
      </a>
    </div>
  </div>
</nav>


<div class="row" style="width:99%;margin: auto;">
<div class="col-md-2 left-bar"> <!-- left nav -->
<ul class="list-group">
	<a href="/" class="list-group-item"><span class="glyphicon glyphicon-home"></span> Home</a>
	<a href="/images" class="list-group-item"><span class="glyphicon glyphicon-th-list"></span> Images</a>
	<a href="/containers" class="list-group-item"><span class="glyphicon glyphicon-inbox"></span> Containers</a>
</ul>
</div>
<div class="col-md-10 main"><!-- main -->
